*{
    
  height: auto;
  width: auto;
    padding: 0%;

}
html ,body{
  height: 100%;
}
 body{
    font-family: 'Times New Roman', Times, serif;
    margin: 40px;
    background-color:beige ;
    
    color: black;
 }
 header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color:rgb(232, 232, 215);
 }
 
 .info h4{
   font-size: 14px;
   color: black;
   margin-left: 10px;


 }
 
nav ul{
   list-style-type: none;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: space-between;
 }
 
 nav ul li{
   
   margin: 0 15px;
   cursor: pointer;
 }
 nav ul li a{
   text-decoration: none;
   color:black
   
   
 }
 .background-image{
background-image: url('/image/.jpeg');
background-size: cover;
background-position: center;

 }
 section{
text-align: center;
display: flex;


 }
 section .text{
  padding: 70px 0;
  color: black;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
 }
 section .text h1{
  font-size: 75px;  
  margin-bottom: 1rem;
 }
 section .text h2{
  
  line-height: 1;
  
  margin-bottom: 1rem;
 }
  section .text p{
    font-size: 1.2rem;
    line-height: 1.5;
    letter-spacing: 1px;
    margin-bottom: 1px;
    text-align: justify;
  }
    
  section .text p a{
   
    color: black;
  }
 

 
 
 
 #content{
  min-width: 100%;
  position:relative;
 }

 footer{
    background-color:rgb(232, 232, 215);
    color: black;
    text-align: center;
    margin: 0px;
    padding:0px;
    bottom: auto;
    position: absolute;
    width: 100%;
  
}
.contact-info{
    display: inline-block;
    text-align: center;
    padding: 0px;
   
}

.social-media  a{
 text-decoration: none;
 color: black;

}
.social-media a:hover {
    text-decoration: underline;
}